*{
    user-select: none;
}
.map {
    animation: 500ms show ease;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}
@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
  }

/* Карты */
.sudogda_map {
    vertical-align:middle; 
    position: absolute;
    width: 63vw;    
    margin-top: 98vh;
}
.vyatkino_map {
    vertical-align:middle; 
    position: absolute;
    width: 80vw;    
    margin-top: 97vh;
}
.tomainmap{
    position: absolute;

    transition-property: font-size;
    transition-duration: 500ms;
    transition-delay: 150ms;

    text-decoration: none;
    color: rgb(49, 66, 255);
    font-size: 3vh;

    margin-top: 180vh;
    margin-right: 80vw;
}
.tomainmap:hover {
    font-size: 3.3vh;
}
.derevnyaL {
    transition-property: font-size;
    transition-duration: 500ms;
    transition-delay: 150ms;

    position: absolute;

    font-size: 3vh;
    text-decoration: none;
    color:rgb(0, 0, 0);
}
.derevnyaL:hover{
    font-size: 3.3vh;
}
.derevnya {
    transition-property: font-size;
    transition-duration: 500ms;
    transition-delay: 150ms;

    position: absolute;

    font-size: 2.5vh;
    text-decoration: none;
    color:rgb(0, 0, 0);
}
.derevnya:hover{
    font-size: 2.8vh;
}
.river{
    transition-property: font-size;
    transition-duration: 500ms;
    transition-delay: 150ms;

    position: absolute;

    font-size: 2vh;
    text-decoration: none;
    color: rgb(32, 125, 174);
}
.river:hover{
    font-size: 2.3vh;
}
/* Муниципальные образования */
#maintown {
    margin-top: 85vh;
    margin-left: 3vw;
}

#mo_vyatkino {
    margin-top: 47vh;
    margin-right: 37vw;
}

#mo_golovino {
    margin-top: 89vh;
    margin-right: 43vw;
}

#mo_lavrovo {
    margin-top: 72vh;
    margin-right: 2vw;
}

#mo_moshok {
    margin-top: 145vh;
    margin-left: 40vw;
}

#mo_muromcevo {
    margin-top: 102vh;
    margin-left: 7vw;
}

#mo_andreevo {
    margin-top: 87vh;
    margin-left: 32.5vw;
}

/* Деревни */
/* МО Вяткинское */
#vyatkino {
    margin-top: 84vh;
    margin-right: 1vw;
}
#pogrebishi {
    margin-top: 93vh;
    margin-right: 5vw;
}
#proskurinskaya {
    margin-top: 115vh;
    margin-left: 8vw;
}
#pavlovskaya {
    margin-top: 122vh;
    margin-left: 2vw;
}
#baraki {
    margin-top: 106vh;
    margin-left: 14.5vw;
}
#baygushi {
    margin-top: 62vh;
    margin-left: 1vh;
}
#novopetrovo {
    margin-top: 115vh;
    margin-left: 59vw;
}
#sokolovo {
    margin-top: 72vh;
    margin-left: 60vw;
}
#stanki {
    margin-top: 93vh;
    margin-left: 58vw;
}
#novokarpovka {
    margin-top: 37vh;
    margin-left: 63vw;
}
#vysokovo {
    margin-top: 118vh;
    margin-right: 14vw;
}
#perevedenovo {
    margin-top: 128vh;
    margin-right: 6vw;
}
#ladoga {
    margin-top: 79vh;
    margin-right: 17vw;
}
#ulybyshevo {
    margin-top: 123vh;
    margin-right: 33vw;
}
#d_ulybyshevo {
    margin-top: 142vh;
    margin-right: 43vw;
}
#gridino {
    margin-top: 126vh;
    margin-right: 57vw;
}
#fryazino {
    margin-top: 115vh;
    margin-right: 62vw;
}
#konyaevo {
    margin-top: 150vh;
    margin-right: 57vw;
}
/*Реки*/
#r_riverblack {
    margin-top: 70vh;
    margin-right: 9vw;
    transform: rotate(45deg);
}
#urik {
    margin-top: 105vh;
    margin-right: 28vw;
    transform: rotate(-80deg);
}
#urik1 {
    margin-top: 154vh;
    margin-right: 34.5vw;
    transform: rotate(-80deg);
}
#klyazma {
    margin-top: 102vh;
    margin-right: 46vw;
}
#klyazma:hover {
    font-size: 2vh;
}
#klyazma1 {
    margin-top: 2vh;
    margin-left: 72vw;
    transform: rotate(-18deg)
}
#klyazma1:hover {
    font-size: 2vh;
}
#sodomovka {
    margin-top: 127vh;
    margin-right: 44.5vw;
    transform: rotate(-80deg);
}
#usherka {
    margin-top: 105vh;
    margin-left: 38vw;
    transform: rotate(9deg);
}
#sharksha {
    margin-top: 129vh;
    margin-left: 51vw;
    transform: rotate(-41deg);
}
#usher {
    margin-top: 55vh;
    margin-left: 56.5vw;
    transform: rotate(-99deg);
}
#suhorika {
    margin-top: 150vh;
    margin-left: 4vw;
    transform: rotate(9deg);
}
