*{
    user-select: none;
}
@media screen and (orientation: landscape) { 
    #logo { background: url(logo1.png) no-repeat; }
  }
  @media screen and (orientation: portrait) { 
    #logo { background: url(logo2.png) no-repeat; }
  }
.map {
    animation: 500ms show ease;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}
@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
  }

/* Карты */
.sudogda_map {
    vertical-align:middle; 
    position: absolute;
    width: 63vw;    
    margin-top: 98vh;
    @media (max-width: 600px) {
        width: 63vh;
    } 
}
.vyatkino_map {
    vertical-align:middle; 
    position: absolute;
    width: 80vw;    
    margin-top: 97vh;
}
.golovino_map {
    vertical-align:middle; 
    position: absolute;
    width: 50vw;    
    margin-top: 97vh;
}
.muromcevo_map {
    vertical-align:middle; 
    position: absolute;
    width: 43vw;    
    margin-top: 97vh;
}
.moshok_map {
    vertical-align:middle; 
    position: absolute;
    width: 40vw;    
    margin-top: 97vh;
}
.andreevo_map {
    vertical-align:middle; 
    position: absolute;
    width: 30vw;    
    margin-top: 97vh;
}
.lavrovo_map{
    vertical-align:middle; 
    position: absolute;
    width: 36vw;    
    margin-top: 97vh;
}
.symbols {
    position: absolute;
}
#caution{
    position: absolute;
    margin-top: 10vh;
}
#sym {
    width: 50vw;
    margin-top: 169vh;
    margin-right: 48vw;
}
#vyatsym {
    width: 40vw;
    margin-top: 21vh;
    margin-right: 59vw;
}
#golsym {
    width: 50vw;
    margin-top: 169vh;
    margin-left: 48vw;
}

button {
    position: absolute;

    border-style: none;

    transition-property: font-size, width, height, opacity;
    transition-duration: 500ms;
    transition-delay: 150ms;

    color: black;
    background-color: rgb(220, 220, 220);
    border-radius: 1vh;
    width: 14vw;
    height: 5vh;
    padding: 1.1vh;
    opacity: 0.4;

    font-family: "Overpass", sans-serif;
    font-size: 2vh;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}
button:hover{
    opacity: 1;
    width: 14.4vw;
    height: 5.4vh;
    font-size:2.3vh;
}
@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
  }
@keyframes hide {
    from { opacity: 1; }
    to { opacity: 0; }
}

#showsym{
    margin-top: 189vh;
    margin-right: 85vw;
}
#vyatshowsym{
    margin-top: 5vh;
    margin-right: 85vw;
}
#golshowsym{
    margin-top: 189vh;
    margin-left: 85vw;
}

.tomainmap{
    position: absolute;

    margin-top: 185vh;
    margin-right: 99vw;
}
.derevnyaL {
    transition-property: font-size;
    transition-duration: 500ms;
    transition-delay: 150ms;

    position: absolute;

    font-size: 3vh;
    text-decoration: none;
    color:rgb(0, 0, 0);
}
.derevnyaL:hover{
    font-size: 3.3vh;
}
.derevnya {
    transition-property: font-size;
    transition-duration: 500ms;
    transition-delay: 150ms;

    position: absolute;

    font-size: 2.5vh;
    text-decoration: none;
    color:rgb(0, 0, 0);
}
.derevnya:hover{
    font-size: 2.8vh;
}
.river{
    transition-property: font-size;
    transition-duration: 500ms;
    transition-delay: 150ms;

    position: absolute;

    font-size: 2vh;
    @media (max-width: 600px) {
        font-size: 0.2vh;
    } 
    text-decoration: none;
    color: rgb(32, 125, 174);
}
.river:hover{
    font-size: 2.3vh;
}
/* Муниципальные образования */
#maintown {
    margin-top: 85vh;
    margin-left: 3vw;
    @media (max-width: 600px) {
        margin-top: 85vh;
        margin-left: 3vw;
    } 
}

#mo_vyatkino {
    margin-top: 47vh;
    margin-right: 37vw;
}

#mo_golovino {
    margin-top: 89vh;
    margin-right: 43vw;
}

#mo_lavrovo {
    margin-top: 72vh;
    margin-right: 2vw;
}

#mo_moshok {
    margin-top: 145vh;
    margin-left: 40vw;
}

#mo_muromcevo {
    margin-top: 102vh;
    margin-left: 7vw;
}

#mo_andreevo {
    margin-top: 87vh;
    margin-left: 32.5vw;
}

/* МО Вяткинское */
/* Деревни */
#vyatkino {
    margin-top: 84vh;
    margin-right: 1vw;
}
#pogrebishi {
    margin-top: 93vh;
    margin-right: 5vw;
}
#proskurinskaya {
    margin-top: 115vh;
    margin-left: 8vw;
}
#pavlovskaya {
    margin-top: 122vh;
    margin-left: 2vw;
}
#baraki {
    margin-top: 106vh;
    margin-left: 14.5vw;
}
#baygushi {
    margin-top: 62vh;
    margin-left: 1vh;
}
#novopetrovo {
    margin-top: 115vh;
    margin-left: 59vw;
}
#sokolovo {
    margin-top: 72vh;
    margin-left: 60vw;
}
#stanki {
    margin-top: 93vh;
    margin-left: 58vw;
}
#novokarpovka {
    margin-top: 37vh;
    margin-left: 63vw;
}
#vysokovo {
    margin-top: 118vh;
    margin-right: 14vw;
}
#perevedenovo {
    margin-top: 128vh;
    margin-right: 6vw;
}
#ladoga {
    margin-top: 79vh;
    margin-right: 17vw;
}
#ulybyshevo {
    margin-top: 123vh;
    margin-right: 33vw;
}
#d_ulybyshevo {
    margin-top: 142vh;
    margin-right: 43vw;
}
#gridino {
    margin-top: 126vh;
    margin-right: 57vw;
}
#fryazino {
    margin-top: 115vh;
    margin-right: 62vw;
}
#konyaevo {
    margin-top: 150vh;
    margin-right: 57vw;
}
/*Реки*/
#r_riverblack {
    margin-top: 70vh;
    margin-right: 9vw;
    transform: rotate(45deg);
}
#urik {
    margin-top: 105vh;
    margin-right: 28vw;
    transform: rotate(-80deg);
}
#urik1 {
    margin-top: 154vh;
    margin-right: 34.5vw;
    transform: rotate(-80deg);
}
#klyazma {
    margin-top: 102vh;
    margin-right: 46vw;
}
#klyazma:hover {
    font-size: 2vh;
}
#klyazma1 {
    margin-top: 2vh;
    margin-left: 72vw;
    transform: rotate(-18deg)
}
#klyazma1:hover {
    font-size: 2vh;
}
#sodomovka {
    margin-top: 127vh;
    margin-right: 44.5vw;
    transform: rotate(-80deg);
}
#usherka {
    margin-top: 105vh;
    margin-left: 38vw;
    transform: rotate(9deg);
}
#sharksha {
    margin-top: 129vh;
    margin-left: 51vw;
    transform: rotate(-41deg);
}
#usher {
    margin-top: 55vh;
    margin-left: 56.5vw;
    transform: rotate(-99deg);
}
#suhorika {
    margin-top: 150vh;
    margin-left: 4vw;
    transform: rotate(9deg);
}
/* МО Головинское */
/* Деревни */
#golovino {
    margin-top: 63vh;
    margin-right: 28vw;
}
#ilyino {
    margin-top: 94vh;
    margin-left: 6.6vw;
}
#soyma{
    margin-top: 45vh;
    margin-left: 32.6vw;
}
#poslukdominval{
    margin-top: 22vh;
    margin-right: 34vh
}
#kamenec{
    margin-top: 79vh;
    margin-right: 29.5vw;
}
#ovsyannikovo {
    margin-top: 53vh;
    margin-right: 18vw;    
}
#efimovskaya {
    margin-top: 36vh;
    margin-left: 2vw;
}
#verigino {
    margin-top: 52vh;
    margin-right: 4vw;
}
#konyaevog {
    margin-top: 102vh;
    margin-right: 8vw;    
}
#zharki {
    margin-top: 117vh;
    margin-left: 13.5vw;
}
#ovcyno {
    margin-top: 24vh;
    margin-left: 41vw;
}
#hohlachi {
    margin-top: 30vh;
    margin-left: 35vw;
}
/* Реки */
#soymar {
    margin-top: 47vh;
    margin-right: 12vw;
    transform: rotate(-9deg);
}
#soymar1 {
    margin-top: 36vh;
    margin-left: 40vw;
    transform: rotate(-20deg);
}
#vysokusha {
    margin-top: 104vh;
    margin-left: 0vw;
    transform: rotate(-34deg);    
}
#golurik {
    margin-top: 40vh;
    margin-right: 37vw;
    transform: rotate(93deg);    
}
#pol {
    margin-top: 100vh;
    margin-right: 30vw;
    transform: rotate(88deg);        
}
#petrishevka {
    margin-top: 113vh;
    margin-right: 25vw;
    transform: rotate(-14deg);
}
#voyninga {
    margin-top: 36vh;
    margin-left: 47vw;
    transform: rotate(80deg);
}
#kamenka {
    margin-top:68vh;
    margin-left: 10vw;
    transform: rotate(12deg);    
}
#osinovka {
    margin-top: 120vh;
    margin-left: 20vw;
    transform: rotate(-12deg);
}
#osinovka1 {
    margin-top: 90vh;
    margin-left: 30vw;
    transform: rotate(-80deg);
}
#vanchuga {
    margin-top: 90vh;
    margin-left: 20vw;
    transform: rotate(-60deg);
}
#uzhba {
    margin-top: 135vh;
    margin-right: 42vw;
    transform: rotate(96deg);    
}
#golsuhorika {
    margin-top: 35vh;
    margin-right: 8vw;
    transform: rotate(80deg);        
}
#solodyanka {
    margin-top: 38vh;
    margin-right: 20vw;
    transform: rotate(100deg);            
}
/* МО Муромцевское */
/* Деревни */
#muromcevo {
    margin-top: 50vh;
    margin-left: 8vw; 
}
#afonino {
    margin-top: 55vh;
    margin-right: 15vw; 
}
#gorki {
    margin-top: 67vh;
    margin-left: 8vw; 
}
#beg {
    margin-top: 47vh;
    margin-right: 8vw; 
}
#stepanovo {
    margin-top: 76vh;
    margin-left: 4vw; 
}
#vartemovka {
    margin-top: 120vh;
    margin-right: 20vw; 
}
#peredel {
    margin-top: 72vh;
    margin-left: 27vw; 
}
#zayastrebye {
    margin-top: 116vh;
    margin-left: 14vw; 
}
#travinino {
    margin-top: 104vh;
    margin-left: 6vw; 
}
/* МО Мошокское */
/* Деревни */
#moshok {
    margin-top: 110vh;
    margin-left: 1.5vw;     
}
#ozyablicy {
    margin-top: 134vh;
    margin-right: 12vw;         
}
#posimvorovskovo {
    margin-top: 165vh;
    margin-right: 17vw;         
}
#nikolskoe {
    margin-top: 111vh;
    margin-right: 34vw;             
}
#kondryaevo {
    margin-top: 93vh;
    margin-right: 28.5vw;    
}
#gladyshevo {
    margin-top: 100vh;
    margin-right: 16.5vw;        
}
#kolychevo {
    margin-top: 132vh;
    margin-left: 12vw;
}
#karevo {
    margin-top: 139vh;
    margin-left: 9vw;
}
#goryachevo {
    margin-top: 137vh;
    margin-left: 19vw;    
}
#krasniykust {
    margin-top: 70vh;
    margin-left: 12vw;            
}
#barkino{
    margin-top: 76vh;
    margin-left: 4vw;
}
#ignatyevo{
    margin-top: 87vh;
    margin-left: 10vw;
}
#pishalnikovo{
    margin-top: 95vh;
    margin-left: 11vw;
}
#pivovarovo {
    margin-top: 121vh;
    margin-left: 15vw;    
}
#gonobilovo {
    margin-top: 105vh;
    margin-left: 18vw;
}
#shustovo {
    margin-top: 110vh;
    margin-left: 25vw;    
}
#demuhino {
    margin-top: 83vh;
    margin-left: 21vw;        
}
#sinicino {
    margin-top: 57vh;
    margin-left: 21vw;    
}
#vezhki {
    margin-top: 50vh;
    margin-left: 19vw;    
}
#pavlovka {
    margin-top: 50vh;
    margin-left: 29vw;    
}
#radilovo {
    margin-top: 29vh;
    margin-left: 23vw;    
}
#mitino {
    margin-top: 20vh;
    margin-left: 23vw;    
}
/* МО Андреевское */
/* Деревни */
#andreevo {
    margin-top: 123vh;
    margin-right: 2vw;     
}
#novaya {
    margin-top: 162vh;
}
#mostishi{
    margin-top: 179vh;
    margin-left: 4vw;
}
#turmerovka{
    margin-top: 135vh;
    margin-right: 7vw;
}
#likino{
    margin-top: 126vh;
    margin-right: 12vw;
}
#brykino{
    margin-top: 133vh;
    margin-left: 7vw;
}
#bkozlovka{
    margin-top: 120vh;
    margin-right: 20vw;
}
#nepeycyno{
    margin-top: 101vh;
    margin-right: 17vw;    
}
#bolotskiy{
    margin-top: 106vh;
    margin-right: 6vw;
}
#yazikovo{
    margin-top: 108vh;
    margin-left: 8vw;    
}
#krasniybogatir{
    margin-top: 86vh;
    margin-right: 6vw;        
}
#vasilyevo {
    margin-top: 67vh;
    margin-right: 1vw;
}
#bahtino {
    margin-top: 47vh;
    margin-right: 17vw;    
}
#kartmazovo {
    margin-top: 57vh;
    margin-right: 10vw;        
}
/* МО Лавровское */
/* Деревни */
#lavrovo {
    margin-top: 141vh;
    margin-right: 3vw;     
}
#chamerevo {
    margin-top: 72vh;
    margin-right: 12vw;    
}
#luhtonovo {
    margin-top: 98vh;
    margin-right: 5vw;    
}
#bykovo {
    margin-top: 115vh;
    margin-right: 3vw;    
}
#dorofeevo {
    margin-top: 104vh;
    margin-left: 6vw;    
}
#myzino {
    margin-top: 83vh;
    margin-left: 6.5vw;    
}
#suhovka {
    margin-top: 92vh;
    margin-right: 18vw;    
}
#popelenki {
    margin-top: 80vh;
    margin-right: 6vw;    
}
#chamerevo {
    margin-top: 72vh;
    margin-right: 12vw;    
}
#natalyinka{
    margin-top: 72vh;
    margin-right: 27vw;    
}