body{
    background-color: rgb(241,239,231);
}
main{
    animation: 500ms show ease;
    display: flex;    
}
@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
  }
a {
    transition-property: color, font-size;
    transition-duration: 500ms;
    transition-delay: 150ms;
    text-decoration: none;
    color: rgb(27, 138, 200);
}
a:hover {
    color: rgb(0, 21, 255);
}
.back {
    font-size: 1.2vw;
    padding: 1%;
    @media (max-width: 600px) {
        font-size: 2vh;
    } 
}
.article {
    margin-left: 10%;
    padding: 5%;

    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    @media (max-width: 600px) {
        font-size: 1vh;
        margin-left: 5%;
    } 
    font-size: 1vw;

    background-color: white;
    color: black;
    text-decoration: none;
}
.maintext {
    margin-left: 2.5%;
}
.images {
    margin-right: 10%;
    padding: 5%;
    padding-left: 0;
    background-color: white;
    
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    @media (max-width: 600px) {
        font-size: 1.2vh;
        margin-right: 5%;
    } 
    font-size: 0.8vw;
    color: black;
}
.image {
    width: 16vw;
    @media (max-width: 600px) {
        width: 16vh;
    } 
    text-align: center;
    padding: 5%;
    margin-bottom: 20%;
    background-color: rgb(220, 220, 220);
}
.rb {
    width: 20vw;
    @media (max-width: 600px) {
        width: 20vh;
    } 
}
#usher {
    width: 30vw;
    @media (max-width: 600px) {
        width: 30vh;
    } 
}
#soyma {
    width: 70vw;
    @media (max-width: 600px) {
        width: 70vh;
    } 
}
#suhorika {
    font-weight: 750;
    font-size: 1.1  vw;
}
.photo {
    width: 15vw;
    @media (max-width: 800px) {
        width: 15vh;
    } 
}